<form action="<%= search_url %>" method="get">
  <input type="text" name="query" value="<%= params[:query] %>" placeholder="search">
  <input type="submit">
</form>

<h2>Results</h2>

<%= paginate(@results) %>
<ul>
  <% @results.map(&:searchable).each do |result| %>
  <li><%= debug result %></li>
  <% end %>
</ul>