<h1>Ninjas#new</h1>

<form action="<%= ninjas_url %>" method="post">
  <input type="hidden"
    name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text"
    name="ninja[email]" value="<%= @ninja.email %>" placeholder="email">

  <input type="password" name="ninja[password]" placeholder="password">

  <input type="submit" value="create!">
</form>
